# top-most EditorConfig file
root = true

# Reglas generales para todos los archivos en el proyecto
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Reglas específicas para archivos Astro, TypeScript, JavaScript, JSX, TSX, JSON y CSS/SCSS
# Astro usa componentes que pueden combinar HTML, JS y CSS.
[*.{astro,ts,tsx,js,jsx,json,css,scss}]
indent_style = space
indent_size = 2

# Reglas para archivos HTML (si tienes archivos .html puros)
[*.html]
indent_style = space
indent_size = 2

# Reglas para archivos Markdown
[*.md]
trim_trailing_whitespace = false